<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Thang Nguyen. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="portrait" src="./img/30-04.jpg">
    </div>

    {{>footer}}
</body>


</html>